* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1900px;
}

h1,
h2 {
  font-family: "Gilroy", sans-serif;
}

h2 {
  font-size: 48px;
}

h6 {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1900px;
  width: 100%;
}

.header {
  max-width: 1900px;
  width: 100%;
  height: auto;
  border: 2px solid red;
  background: url(public/img/header.png) no-repeat 100% 100%;
  background-size: cover;
  margin-bottom: 112px;
}

.header__wrap,
.what-we-do__wrap {
  max-width: 1700px;
  width: 90%;
  margin: auto;
  border: solid 2px green;
}

.wrap__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 2px solid red;
  margin-top: 5%;
  margin-bottom: 12%;
}

.nav__item {
  border: 2px solid transparent;
  padding: 5px 10px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.nav__item:hover {
  border: 2px solid #fff;
}

.menu__phone {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.lang__button {
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.lang__button:hover {
  border: 2px solid #fff;
}

.wrap__info {
  color: #fff;
}

.info__title {
  font-size: 90px;
  margin-bottom: 5%;
}

.info__description {
  font-size: 34px;
  margin-bottom: 25%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header__more {
}

.more-info::after {
  content: "";
  border-left: 2px solid #807e7f;
  height: 60px;
  margin-top: 40px;
  margin-left: -55px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.more-info {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: #807e7f;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

/*What-we-do*/

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.what-we-do__title {
  display: flex;
  justify-content: center;
}

.what-we-do__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

.content__item {
  max-width: 470px;
  border: 2px solid green;
  margin-bottom: 60px;
}

.item__title {
  font-weight: 400;
  font-size: 19px;
  margin: 30px 0 30px 0;
}

.item__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* Gazprom */

.gazprom {
  background-color: #bdcbd7;
  height: 862px;
}

.gazprom__wrap,
.tcs__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  position: relative;
}

/*.wrap__img {*/
/*  background-image: url("public/img/gazprom.png");*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  margin-top: 100px;*/
/*  width: 100%;*/
/*  max-width: 1200px;*/
/*  height: 1000px;*/
/*  border: 2px solid green;*/
/*}*/

.wrap__content {
  border: 2px solid blue;
}

.content__title {
  margin-bottom: 70px;
}

.content__description {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.content__description::before {
  width: 100%;
  height: 4px;
  content: "";
  background: #000;
  left: 100px;
}

.content__button {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  width: 280px;
  height: 70px;
  border: 2px solid #000;
  outline: none;
  background-color: transparent;
}

.content__button::after {
  content: url(./public/img/arrow-btn.png);
  margin-left: 10px;
}

.content__button:hover {
  background-color: #000;
  color: #fff;
}

.content__button:hover::after {
  content: url(./public/img/arrow-btn-white.png);
}

/*Tcs*/

.tcs {
  height: 860px;
  background-color: #ffcc00;
}

.content__description {
  margin-bottom: 37px;
}

.content__description-last {
  margin-bottom: 70px;
}

/*Adidas*/

.adidas {
  height: 862px;
}

.adidas__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap__img {
  background: url(public/img/monitor.png) no-repeat 100% 100%;
  background-size: contain;
  max-width: 800px;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  margin-right: 5%;
}

/*All-project*/

.all-project {
  max-width: 1900px;
  width: 100%;
  background-color: #333;
  height: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-project__button {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  width: 280px;
  height: 70px;
  border: 2px solid #fff;
  outline: none;
  background-color: transparent;
}

.all-project__button:hover {
  background-color: #000;
}

.all-project__button::after {
  content: url(./public/img/arrow-btn-white.png);
  margin-left: 10px;
}

/*Footer*/

.footer {
  height: auto;
}

.footer__contacts {
  background: url(public/img/footer.png) no-repeat 100% 100%;
  width: 100%;
  height: 580px;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  margin-bottom: 110px;
}

.contacts__mail {
  font-family: "Gilroy", sans-serif;
  font-size: 30px;
  margin-bottom: 80px;
  font-weight: bold;
}

.contacts__number {
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.footer__icons {
  height: 240px;
  background-color: #333;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 74px;
  height: 74px;
  margin-right: 1%;
  cursor: pointer;
}

.icons-behance {
  background: url(public/img/Behance-icon.png) no-repeat 100% 100%;
}

.icons-behance:hover {
  background: url(public/img/Behance-icon-hover.png);
}

.icons-dribble {
  background: url(public/img/dribbble.png) no-repeat 100% 100%;
}

.icons-dribble:hover {
  background: url(public/img/dribbble-hover.png);
}

.icons-vk {
  background: url(public/img/vk.png) no-repeat 100% 100%;
}

.icons-vk:hover {
  background: url(public/img/vk-hover.png);
}

.icons-facebook {
  background: url(public/img/facebook.png) no-repeat 100% 100%;
}

.icons-facebook:hover {
  background: url(public/img/facebook-hover.png);
}
